.bg-black, .bg-code {
    background-color: #242424;
}

.bg-dark-blue, html, body {
    background-color: #242427;
}

.color-invert {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}