.bg-black, .bg-code {
    background-color: #242424;
}

.bg-dark-blue, html, body {
    background-color: #242427;
}

.color-invert {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.dropdown-menu-black {
    background-color: #242424;
    border: .1rem solid gray;
}

.dropdown-menu-black>a:hover {
    background-color: #343434;
}