<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="keywords" content="программирование, олимпиады, олимпиадное программирование, алгритмы">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="/libs/css/bootstrap.min.css">
<script src="/libs/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

<!-- Icon -->
<link rel="shortcut icon" href="/imgs/tablogo.png">

<link rel="stylesheet" href="/css/custom-colors.css">

<!--Скрипт для графика-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Vue.js -->
<script src="/libs/js/vue.min.js"></script>

<!-- Custom file input text view -->
<script src="/js/file-input.js"></script>