<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="keywords" content="программирование, олимпиады, олимпиадное программирование, алгритмы">

<!-- Bootstrap -->
<link rel="stylesheet" href="/libs/css/bootstrap.min.css">

<!-- Google fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">

<!-- Icon -->
<link rel="shortcut icon" href="/imgs/tablogo.png">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>

<link rel="stylesheet" href="/css/custom-colors.css">