.main {
  padding: 0;
}

.text, .code {
  padding-left: 15px;
  padding-right: 15px;
}

.code {
  background: #232323;
  box-sizing: border-box;
  border-top: 1px solid #333336;
  border-bottom: 1px solid #333336;
  color: orange;
}

.code code {
  white-space: pre-wrap;
  color: inherit;
}
@media (max-width: 1200px) {
  .sidebar {
    margin-top: 1vh;
    margin-left: 0;
  }
}