.main {
  padding: 0;
}

.text {
  padding: 1em;
}

blockquote {
  background-color: #2c2c33;
  border-left: 0.4em solid gray;
  padding-left: 0.6em;
}

@media (max-width: 1200px) {
  .sidebar {
    margin-top: 1vh;
    margin-left: 0;
  }
}